
<header> 
     <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-1">
      <div class="container-fluid">
  <%= link_to "Sample app", root_path, class: "h1" %>
   
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item btn btn-dark"><%= link_to  "Home", root_path%></li>
        <li class="nav-item btn btn-dark"><%= link_to "Help", static_pages_help_path%></li>

                <% if logged_in? %>
          <li class="nav-item btn "><%= link_to  "Users", users_path %></li>
          <li class="nav-item dropdown btn btn-dark">
            <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to  "Profile", current_user %></li>
               <li><%= link_to  "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li class="nav-item"> 
                <%= button_to "Log out", logout_path, method: :delete ,class: "nav-item"%>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item btn btn-dark"><%= link_to "Log in", login_path %></li>
        <% end %>
          </ul>
           </div>
            </div>
        </nav>
      </div>
    </header>